*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

canvas{
  display: block;
  margin: 0 auto;
}

.navbar{
  background-color: rgb(0, 0, 0);
  height: 50%;
  display: flex;
  justify-content: left;
  align-items: left;
  font-size: 1.3rem;
  position: sticky;
  top: 0;
  z-index: 999;
  padding-left: 0;

}
.navbar__container{
  display: flex;
  justify-content: space-between;
  height: 65px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin:0 auto;
  padding: 0% 0%;
  background-color: black;
}
#navbar__logo{
  background-color: white;
  background-image: linear-gradient(to bottom, white 0%, rgb(44, 44, 44) 100%);
  background-size: auto;
  width:50px;
  height:50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  padding: absolute;
  font-size: 1rem;
  top: 10%;
  left: 2%;
  position: absolute;
  
}
#navbar__img{
  -webkit-mask-image: url(Images/transparrentTrexSkull.png);
  mask-image: url(Images/transparrentTrexSkull.png);
  -webkit-mask-size: cover;
  mask-size: cover;
}
.navbar__list{
  display: flex;
  align-items: stretch; /* Default */
  justify-content: space-evenly;
  width: 100%;
  background: #00000000;
  margin: 0;
  padding: 0;
  padding-top: 1%;
  transition: all .7s ease-in-out;
}
.navbar__item{
  display: block;
  flex: 0 1 auto; /* Default */
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0);
  transform: translateY(-100px);
}
.navbar__links{
  display: block;
  color: rgba(255, 255, 255, 0.774);
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
.navbar__toggle{
  align-items: center;
  cursor: pointer;
  padding: absolute;
  top: 20%;
  right: 2%;
  position: absolute;
}
.navbar__toggle .bar{
  background-image: linear-gradient(to bottom, white 0%, rgb(141, 140, 140) 100%);
  width: 40px;
  height: 4px;
  background-color: rgb(185, 185, 185);
  display: block;
  cursor: pointer;
  margin-top: 5px;
  transition: all 0.8s ease-in-out;
  z-index: 999;
}
#dropdown-menu.is-active .bar {
  opacity: 0.2;
}
#dropdown-content.is-active .navbar__list {
  transform: translateY(80px);
}
#dropdown-content.is-active .navbar__list :hover{
  text-decoration: underline;
}

.parallax_container{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.parallax{
  position: absolute;
  top: -750px;
  left: 0;
  width: 100%;
  height: 400%;
  object-fit: cover;
  object-position: 50% -30%;
  background-color: rgba(0, 0, 0, 0);
  z-index: -1;
}
@media screen and (max-width: 823px) {
  .parallax{
    height: 360%
  }
}
@media screen and (max-width: 765px) {
  .parallax{
    height: 320%
  }
}

.title h2{
  font-size: 5rem;
  font-weight: 1;
  color: rgb(44, 44, 44);
  text-align: center;
  padding-top: 15%;
  padding-bottom: 0%;
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Beau Rivage', cursive;
}
.title h3{
  font-size: 2rem;
  font-weight: 1;
  color: rgb(44, 44, 44);
  text-align: center;
  padding-top: 0%;
  padding-bottom: 0%;
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Beau Rivage', cursive;
}
.title h1{
  font-size: 15rem;
  font-weight: 1;
  color: rgb(44, 44, 44);
  text-align: center;
  margin-top: -5%;
  padding-bottom: 15%;
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Playfair Display SC', serif;
}

.sliderContainer{
  background-color: #DDDDDD;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
  margin-top: -1%;
  z-index: 5;
  border-bottom: 10px solid rgb(0, 0, 0);
}
.slider {
  width: 95%;
  height: 50%;
  position: center;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  z-index: 5;
}
input[type=range] {
  -webkit-appearance: none;
  margin: 3px 0;
  width: 95%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 95%;
  height: 30px;
  cursor: pointer;
  background: #DDDDDD;
  border-radius: 0px;
}
input[type=range]::-webkit-slider-thumb {
  border: 0px solid #000000;
  height: 60px;
  width: 5px;
  background: #DDDDDD;
  cursor: pointer;
  -webkit-appearance: none;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid rgb(65, 65, 65);
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #DDDDDD;
}
.pangeaImages {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 0%;
  background-color: #151515;
  z-index: 1;
  position: relative;
  scroll-margin-top: 60px;
}
.pangeaImages__image {
  width: 70%;
}
.pangeaInfo{
  display: flex;
  justify-content: center;
  align-items: stretch;
  position: absolute;
  flex-direction: column;
  background-color: #15151500;
  z-index: 2;
  top: 0px;
  left: 0px;
  border-top: 10px solid rgb(0, 0, 0);
}
.pangeaInfo h3{
  font-size: 6rem;
  font-weight: 10;
  color: white;
  background-color: #15151500;
  z-index: 2;
  font-family: 'Beau Rivage', cursive;
  position: absolute;
  top: 8%;
  left: 8%;
}
@media screen and (max-width: 1172px) {
  .pangeaInfo h3{
    font-size: 5rem;
  }
}
@media screen and (max-width: 900px) {
  .pangeaInfo h3{
    font-size: 3rem;
  }
}
.pangeaInfo p{
  font-size: 1.1rem;
  color: rgb(234, 234, 234);
  text-align: center;
  width: 40%;
  padding-left: 5%;
  padding-top: 16%;
  background-color: #15151500;
  font-family: 'Source Serif Pro', serif;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 1172px) {
  .pangeaInfo p{
    font-size: .8rem;
  }
}
@media screen and (max-width: 900px) {
  .pangeaInfo p{
    font-size: .5rem;
  }
}
@media screen and (max-width: 600px) {
  .pangeaInfo p{
    font-size: .4rem;
  }
}
.pangeaInfo p:nth-child(3){
  background-color: #23232300;
  padding-top: 2%;
  padding-bottom: 0%;
  padding-left: 0%;
  justify-content: right;
  align-items: right;
  right: -72%;
  font-family: 'Source Serif Pro', serif;
  color:rgb(255, 246, 246);
  z-index: 3;
}
.hidden {
  display: none;
}
.timeline {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0%;
  background-color: #151515;
}
.timeline__image{
  width: 100%;
  z-index: 4;
}

.fossilProcess{
  display:flex;
  flex-direction: column;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  margin-top: 0%;
  z-index: 5;
  width: 100%;
  border-bottom: 0px solid rgb(65, 65, 65);
  scroll-margin-top: -50px;
}
.fossilProcess h3{
  color: rgb(255, 255, 255);
  font-size: 6rem;
  font-weight: 10;
  background-color: #15151500;
  z-index: 2;
  font-family: 'Beau Rivage', cursive;
  align-self: flex-end;
  margin-right: 5%;
  margin-top: 10%;
  padding: 1% 2%;
}
.fossil_images{
  display: flex;
  flex-direction: row;
  align-items: stretch; /* Default */
  justify-content: space-evenly;
  width: 100%;
  top: 0;
  left: 0;
  background: #f4f4f400;
  margin: 0;
  padding: 0;
  padding-top: 1%;
}
.fossil__image{
  width: 100%;
  z-index: 4;
}
.fossil__image1{
  width: 100%;
  height: 100%;
  z-index: 4;
  margin-top: 20%;
}
.fossil__image2{
  width: 100%;
  height: 100%;
  z-index: 4;
  margin-top: 40%;
}
.fossil__image3{
  width: 100%;
  height: 100%;
  z-index: 4;
  margin-top: 60%;
}
.fossil__image4{
  width: 100%;
  height: 100%;
  z-index: 4;
  margin-top: 80%;
}
.fossilProcess p{
  font-size: 1.5rem;
  color: rgb(234, 234, 234);
  text-align: center;
  width: 92%;
  padding-left: 0%;
  padding-top: 16%;
  background-color: #15151500;
  font-family: 'Source Serif Pro', serif;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ostrichAnatomy{
  position: relative;
  top: -1500px;
  left: 0%;
  justify-content: center;
  align-items: center;
  z-index: 7;
  width: 100%;
  scroll-margin-top: -350px;
}
.ostrichAnatomy__image{
  width: 100%;
  z-index: 7;
  background-color: #ffffff;
  object-fit: cover;
  border-top: 10px solid rgb(0, 0, 0);
}
.ostrichAnatomy h3{
  color: rgb(0, 0, 0);
  font-size: 6rem;
  font-weight: 10;
  background-color: #15151500;
  font-family: 'Beau Rivage', cursive;
  align-self: flex-end;
  position: relative;
  top: 500px;
  padding-left: 5%;
}
.ostrichAnatomy p{
  font-size: 1.5rem;
  color: rgb(16, 16, 16);
  text-align: center;
  width: 70%;
  padding-left: 10%;
  padding-top: 0%;
  top: 560px;
  background-color: #15151500;
  font-family: 'Source Serif Pro', serif;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
#ostrichAnatomy_p2{
  font-size: 1.5rem;
  color: rgb(16, 16, 16);
  text-align: center;
  width: 50%;
  padding-left: 10%;
  padding-top: 0%;
  top: -530px;
  right: -45%;
  background-color: #15151500;
  font-family: 'Source Serif Pro', serif;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 8;
}

.Model_Info{
  display: flex;
  position: relative;
  top: -1700px;
  left: 0%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  margin-top: 0%;
  z-index: 5;
  width: 100%;
  scroll-margin-top: 100px;
}
.Model_Info h3{
  color: rgb(44, 44, 44);
  font-size: 10rem;
  font-weight: 10;
  background-color: #15151500;
  z-index: 2;
  font-family: 'Beau Rivage', cursive;
  align-self: center;
  margin-right: 5%;
  margin-top: 0%;
  padding: 0% 0%;
}
.Model_Info p{
  font-size: 1.5rem;
  color: rgb(56, 56, 56);
  text-align: center;
  width: 92%;
  padding-left: 0%;
  padding-top: 2%;
  padding-bottom: 4%;
  background-color: #15151500;
  font-family: 'Source Serif Pro', serif;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 8;
}
#Model_Container{
  display: relative;
  position: relative;
  top: -1700px;
  left: 0%;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  margin-top: 0%;
  margin-left: 0;
  padding-left: 0;
  z-index: 5;
  width: 100%;
  background-color: #ffffff;
}

.footer__container{
  background-color: #8f8f8f;
  position: relative;
  top: -1700px;
  left: 0%;
  padding-top: 2%;
}
.footer__left{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0%;
  padding-bottom: 0%;
  padding-left: 0%;
  padding-right: 0%;
  background-color: #8f8f8f;
}
.footer_right{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0%;
  padding-bottom: 0%;
  padding-left: 0%;
  padding-right: 0%;
  background-color: #8f8f8f;
}
.footer__container a{
  color: #000000;
  text-decoration: none;
}